.App-header {
  background-color: #282c34;
  min-height: 5vh;
  position: relative;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > h1 {
  margin: auto 10px;
}

.App-header > div {
  position: absolute;
  right: 0;
  bottom: 0;
}

.menu {
  display: inline;
  margin: 5px;
  font-size: 19px;
}

.home {
  padding: 8px 24px;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

#barArea {
  display: flex;
}

.movieContents {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 185px;
  margin: 24px 24px 24px 0;
  background-color: rgba(0, 200, 255, 0.3);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.movieTitle {
  text-align: left;
  margin: 0;
  padding: 8px;
}
.emptyStateContents {
  margin: auto;
  text-align: center;
}
.noData {
  width: 200px;
}
.notFavorite {
  width: 50vw;
}

.startSearching {
  height: 40vh;
}
.detail {
  display: flex;
  justify-content: space-between;
}
.favoritStar {
  width: 50px;
  height: 50px;
  padding: 8px;
}

footer {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: black;
  text-align: center;
}
#copyright {
  color: white;
}
