.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  position: relative;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > h1 {
  margin: auto 10px;
}

.App-header > div {
  position: absolute;
  right: 0;
  bottom: 0;
}

.menu {
  display: inline;
  margin: 5px;
  font-size: 19px;
}

.bararea {
  width: 100vw;
}
.searchBar {
  box-sizing: border-box;
  width: 100%;
}
.MainContents {
  width: 100%;
  height: 100vh;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
