* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.home {
  padding: 8px 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#barArea {
  display: flex;
  margin-bottom: 10px;
}

.movieContents {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: 1rem;
  margin: 0, auto;
}

.movieContents2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.container {
  width: 100%;
  max-width: 500px;
  min-width: 185px;
  background-color: rgba(0, 200, 255, 0.3);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.detail {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.poster {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.movieTitle {
  text-align: left;
  margin: 0;
  padding: 8px;
  font-size: 14px;
}

.favoritStar {
  width: 35px;
  height: 35px;
  padding: 1px;
}

.emptyStateContents {
  margin: auto;
  text-align: center;
}
.noData {
  width: 200px;
}
.notFavorite {
  width: 50vw;
}

.startSearching {
  height: 40vh;
}

footer {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: black;
  text-align: center;
}
#copyright {
  color: white;
}
